absl-py==0.15.0
aiohttp==3.8.1
aiosignal==1.2.0
antlr4-python3-runtime==4.8
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
astunparse==1.6.3
async-timeout==4.0.1
attrs==21.2.0
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
blis==0.7.5
brotlipy==0.7.0
cachetools==4.2.4
catalogue==2.0.6
certifi==2021.10.8
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
chardet==4.0.0
charset-normalizer==2.0.8
click==7.1.2
colorama==0.4.4
cryptography @ file:///tmp/build/80754af9/cryptography_1639400846433/work
cycler==0.11.0
cymem==2.0.6
Cython==0.29.24
dataclasses==0.6
datasets==1.16.1
debugpy @ file:///tmp/build/80754af9/debugpy_1637091796427/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deepctr==0.8.2
deepctr-torch==0.2.7
deepmatch==0.2.0
dill==0.3.4
en-core-web-sm @ file:///home/xiangyang/xlong/cliff_summ/en_core_web_sm-3.0.0-py3-none-any.whl
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926445639/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fairscale==0.4.3
fairseq @ file:///home/xiangyang/xlong/fairseq
filelock==3.0.12
flake8==4.0.1
flatbuffers==1.12
fonttools==4.28.2
frozenlist==1.2.0
fsspec==2021.11.1
future==0.18.2
gast==0.3.3
gensim==4.1.2
github-copilot==0.3.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.19.1
grpcio==1.32.0
h5py==2.10.0
huggingface-hub==0.2.1
hydra-core==1.0.6
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
imbalanced-learn==0.8.1
imblearn==0.0
importlib-metadata==4.8.2
importlib-resources==5.4.0
ipdb==0.13.9
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1638555510557/work/dist/ipykernel-6.6.0-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1648799197050/work
jedi @ file:///tmp/build/80754af9/jedi_1644315233700/work
jieba==0.42.1
Jinja2==3.0.3
joblib==1.0.0
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1650622202839/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1646994441805/work
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
langcodes==3.3.0
libclang==12.0.0
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.0
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mccabe==0.6.1
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
multidict==5.2.0
multiprocess==0.70.12.2
murmurhash==1.0.6
mypy==0.910
mypy-extensions==0.4.3
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1649847908682/work
nltk==3.6.5
numpy==1.21.4
nvidia-ml-py==11.450.51
nvitop==0.5.1
oauthlib==3.1.1
omegaconf==2.0.6
-e git+https://github.com/thunlp/OpenPrompt.git@fe7f4cbb719e796311973c882883773c8306c4b2#egg=openprompt
opt-einsum==3.3.0
packaging==21.3
pandas==1.2.1
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pathy==0.6.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.1
portalocker==2.3.2
preshed==3.0.6
prettytable==3.2.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
protobuf==3.19.1
psutil==5.8.0
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.8.2
pyDeprecate==0.3.1
pyflakes==2.4.0
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==3.0.6
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytorch-lightning==1.5.10
pytz==2021.1
PyYAML==6.0
pyzmq @ file:///tmp/build/80754af9/pyzmq_1638436375034/work
regex==2021.11.10
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
requests-oauthlib==1.3.0
rouge==1.0.0
rsa==4.8
sacrebleu==2.0.0
sacremoses==0.0.43
scikit-learn==1.0.1
scipy==1.4.1
seaborn==0.11.2
sentencepiece==0.1.96
setuptools-scm==6.3.2
six==1.15.0
sklearn==0.0
smart-open==5.2.1
spacy==3.0.7
spacy-legacy==3.0.8
spacy-loggers==1.0.1
spacy-pkuseg==0.0.28
spacy-stanza==1.0.0
srsly==2.4.2
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
stanza==1.2.3
tabulate==0.8.9
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4.1
tensorflow==2.4.0
tensorflow-addons==0.15.0
tensorflow-estimator==2.4.0
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
thinc==8.0.13
threadpoolctl==3.0.0
tokenizers==0.10.3
toml==0.10.2
tomli==1.2.2
torch==1.11.0
torchaudio==0.11.0
torchkeras==2.1.2
torchmetrics==0.7.2
torchsummary==1.5.1
torchvision==0.12.0
torchviz @ git+https://github.com/szagoruyko/pytorchviz@0adcd83af8aa7ab36d6afd139cabbd9df598edb7
tornado @ file:///tmp/build/80754af9/tornado_1606942300299/work
tqdm==4.62.3
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
transformers==4.13.0
typeguard==2.13.2
typer==0.3.2
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3 @ file:///opt/conda/conda-bld/urllib3_1650639997961/work
wasabi==0.8.2
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
Werkzeug==2.0.2
wrapt==1.12.1
xgboost==1.6.0
xxhash==2.0.2
yacs==0.1.8
yarl==1.7.2
zh-core-web-sm @ file:///home/xiangyang/xlong/cliff_summ/zh_core_web_sm-3.0.0-py3-none-any.whl
zipp==3.6.0
